@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contactata LLC</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Founded 2023</a>.</p>
</div>
