<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
</head>
<body>
    <h3>Thank You for Your Submission</h3>
    <p>Your Message has been received and We will get in touch with you via your email.</p>
</body>
</html>
